{
  "extends": [
    "@linaria/stylelint-config-standard-linaria",
    "stylelint-config-standard",
    "stylelint-config-recommended"
  ],
  "overrides": [
    {
      "files": ["**/*.{jsx,tsx}"],
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ]
}
